#keyword_text{
	height: 33px;
	width:910px;
	border-radius: 4px;
	padding-left:10px;
	-webkit-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0px 1px 1px #ccc;
	-webkit-box-shadow: 0px 1px 1px #ccc;
	-moz-box-shadow: 0px 1px 1px #ccc;
	color:#333;
}
ul.as-selections {
	list-style-type: none;
	margin: 0 !important;
	background-color: white;
	height: 33px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0px 1px 1px #ccc;
	-webkit-box-shadow: 0px 1px 1px #ccc;
	-moz-box-shadow: 0px 1px 1px #ccc;
	border-width: 1px;
	border-style: solid;
  	border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4;
  	cursor:text;
}
.text_date{
	list-style-type: none;
	padding: 2px 2px 2px 10px !important;
	margin: 0 !important;
	background-color: white;
	height: 30px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0px 1px 1px #ccc;
	-webkit-box-shadow: 0px 1px 1px #ccc;
	-moz-box-shadow: 0px 1px 1px #ccc;
}
.text_issue{
	list-style-type: none;
	padding: 2px 2px 2px 10px !important;
	margin: 0 !important;
	background-color: white;
	height: 33px;
	width: 906px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0px 1px 1px #ccc;
	-webkit-box-shadow: 0px 1px 1px #ccc;
	-moz-box-shadow: 0px 1px 1px #ccc;
}
ul.as-selections.loading {
	background-color: #fff;
}
ul.as-selections li {
	float: left;
	margin: 4px !important;
}
ul.as-selections li.as-selection-item {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px #fff;
	border: 1px solid #ccc;
	border-top-color: #ccc;
	padding: 2px 7px 2px 10px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 0 1px 1px #e4edf2;
	-webkit-box-shadow: 0 1px 1px #ddd;
	-moz-box-shadow: 0 1px 1px #ddd;
}
ul.as-selections li.as-selection-item.keyword {
	background-color: #B6DE8F;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B6DE8F), to(#7BA857));
}
ul.as-selections li.as-selection-item.concept {
	background-color: #F9FF7E;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9FF7E), to(#F9FF7E));
}
ul.as-selections li.as-selection-item.person {
	background-color: #CCE4FD;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdf), to(#9cf));
}
ul.as-selections li.as-selection-item.issue {
	background-color: #fbb;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbb), to(#d88));
}
ul.as-selections li.as-selection-item.source {
	background-color: #dec;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dec), to(#ad8));
}
ul.as-selections li.as-selection-item.product {
	background-color: #ddd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#ccc));
}
ul.as-selections li.as-selection-item:last-child {
	margin-left: 30px;
}
ul.as-selections li.as-selection-item a.as-close {
	float: right;
	margin: 1px 0 0 7px;
	padding: 0 2px;
	cursor: pointer;
	color: #fff;
	font-family: "Century Gothic", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	-webkit-transition: color .1s ease-in;
}

ul.as-selections li.as-selection-item.blur {
	color: #fff;
	text-shadow: 0 1px 1px #666;
}
ul.as-selections li.as-selection-item.blur a.as-close {

}
ul.as-selections li:hover.as-selection-item a.as-close {
	color: #fff;
	text-shadow: 0 1px 1px #666;
}
ul.as-selections li.as-selection-item.selected {
	color: #fff;
	text-shadow: 0 1px 1px #666;
}
ul.as-selections li.as-selection-item a:hover.as-close {
	color: #f00;
	text-shadow: 0 1px 1px #666;
}
ul.as-selections li.as-selection-item a:active.as-close {
	color: #666;
}
ul.as-selections li.as-original {
	margin: 8px !important;
	border: none !important;
}

ul.as-selections li.as-original input {
	border: none !important;
	outline: none !important;
	width: 320px;
	height: 18px !important;
}

ul.as-list {
	position: absolute;
	list-style-type: none;
	margin: 2px 0 0 0;
	padding: 1px;
	font-size: 14px;
	color: #000;
	font-family: "Century Gothic", Helvetica, sans-serif;
	background-color: #fff;
	background-color: rgba(255,255,255,0.95);
	z-index: 100;
	box-shadow: 0 2px 12px #222;
	-webkit-box-shadow: 0 2px 12px #222;
	-moz-box-shadow: 0 2px 12px #222;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow-y:scroll;
	height:575px
}

li.as-result-item, li.as-message{
	margin: 0 0 0 0;
	padding: 2px 12px;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
li.as-result-item.issue{
	background-color: #fbb;
}
.as-result-item.source{
	background-color: #dec;
}
li.as-result-item.person{
	background-color: #bdf;
}
li.as-result-item.product{
	background-color: #ddd;
}
li:first-child.as-result-item {
	margin: 0;
}

.as-result-item.source .file_path{
	font-weight: normal;
	color: gray;
}

li.as-message {
	margin: 0;
	cursor: default;
}

li.as-result-item.active {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(190, 190, 190, 0.4)), to(rgba(224, 224, 224, 0.4)));
	/*background-color: #7BA857;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 64%, from(rgb(182, 222, 143)), to(rgb(123, 168, 80)));
	border-color: #7BA857;
	color: #fff;
	text-shadow: 0 1px 2px #666;*/
}

li.as-result-item em { 
	font-style: normal; 
	background: rgba(153, 0, 0, 0.16);  
	padding: 0 2px;
}

li.as-result-item.active em { 
	background: rgba(153, 0, 0, 0.16);
	/*color: #fff;*/
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	ul.as-selections {
		border-top-width: 1px;
	}
	ul.as-selections li.as-selection-item {
		padding-top: 3px;
		padding-bottom: 2px;
	}
	ul.as-selections li.as-selection-item a.as-close {
		margin-top: -1px;
	}
	ul.as-selections li.as-original input {
		height: 19px;
	}
}

/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	ul.as-list {
		border: 1px solid #888;
	}
	ul.as-selections li.as-selection-item a.as-close {
		margin-left: 4px;
		margin-top: 0;
	}
}

/* IE Hacks  */
ul.as-list {
	border: 1px solid #888\9;
}
ul.as-selections li.as-selection-item a.as-close {
	color: #fff;
	text-shadow: 0 1px 1px #666;
}

/* Firefox 3.0 Hacks */
ul.as-list,  x:-moz-any-link, x:default { 
	border: 1px solid #888;
}
BODY:first-of-type ul.as-list, x:-moz-any-link, x:default { /* Target FF 3.5+ */
	border: none;
}