.popbox {
   margin:0px auto;
   text-align:center;
   float:right;
}
.popbox_tooltip {
   margin:0px auto;
   text-align:center;
   position:absolute;
}
.collapse { 
   position:relative;
}
.open {
   background:#DDD;
   border-radius:5px;
   box-shadow: 0px 0px 2px #CCC;
   background:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e8e8e8));
   background:-moz-linear-gradient(top,#f4f4f4,#e8e8e8);
   background:linear-gradient(top,#f4f4f4,#e8e8e8);
   text-transform:lowercase !important;
   width:160px !important;
   margin-top:8px !important;
   height:20px !important;
   line-height:20px !important;
   font-weight:normal !important;
   font-size:12px !important;
   float:right !important;
   margin-right:40px !important;
}
.box {
   display:block;
   display:none;
   background:#FFF;
   border:solid 1px #BBBBBB;
   border-radius:5px;
   box-shadow:0px 0px 15px #999;
   position:relative;
   width:305px;
   z-index:100;
   font-size:10px !important;
}
.box a.close {
   color:red;
   font-size:12px;
   font-family:arial;
}
.arrow {
   width: 0;
   height: 0;
   border-left: 11px solid transparent;
   border-right: 11px solid transparent;
   border-bottom: 11px solid #FFF;
   position:absolute;
   left:1px;
   top:-10px;
   z-index:1001;
}
.arrow-border {
   width: 0;
   height: 0;
   border-left: 11px solid transparent;
   border-right: 11px solid transparent;
   border-bottom: 11px solid #BBBBBB;
   position:absolute;
   top:-12px;
   z-index:1000;
}