#tt {
	position: absolute;
	display: block;
	z-index: 100;
}
#tttop {
	display: block;
	overflow: hidden;
}
#ttcont {
	display: block;
	margin-left: 5px;
}
#ttbot {
	display: block;
	overflow: hidden;
}