#scrollbar1 { width: 520px; clear: both; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #003D5D; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }

.container_main
{
    height:100%-66px;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    right:0px;
    overflow-y:auto;
    margin-top:66px;
    z-index:1;
}
.container_wide
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background: #fff;
}
.item_left
{
	margin-left: auto;
	margin-right: auto;
	width: 306px;
	height:500px;
	float:left;
	-moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:2px solid #fff;
    background-color:#f9f9f9;
    margin: 9px;
    overflow:scroll;
}
.item_right
{
	margin-left: auto;
	margin-right: auto;
	width: 606px;
	height:500px;
	float:right;
	-moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:2px solid #fff;
    background-color:#f9f9f9;
    margin: 9px;
    border: 0 !important;
}
.timeline
{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	height:200px;
	float:right;
	-moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:2px solid #fff;
    background-color:#fff;
    margin: 9px;
    padding-top:10px;
}
#graph-controls-div {
	position:absolute;
	height:20px;
	z-index:50;
	margin:5px;
}
#item_details {
	width:98%;
	height:450px;
}
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after
{
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}
.clearfix
{
	display: inline-block;
}
* html .clearfix
{
	height: 1%;
}
.clearfix
{
	display: block;
}
